@mixin centerer-xy() {
	position: absolute;
	left: 50%;
	top: 50%;
	trasform: translate(-50%, -50%);
}

@mixin centerer-x() {
	position: absolute;
	left: 50%;
	trasform: translateX(-50%);
}

@mixin centerer-y() {
	position: absolute;
	top: 50%;
	trasform: translateY(-50%);
}

